spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/greenroots
    username: greenroots_user
    password: greenroots_pass
    driver-class-name: org.postgresql.Driver
  
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  flyway:
    enabled: true
    locations: classpath:db/migration/postgres